html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
  }
  
  body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(rgb(215, 237, 209), rgb(185, 229, 173));
  }
 
  .button {
    font-size: 14px;
  }
  
  #lang {
    margin: 10px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  
  /* .fieldset {

  }
  #short{

  }
  #medium{

  }
  #long{

  } */
  
 